.popup__container_type_tooltipe {
  width: 430px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  .popup__container_type_tooltipe {
    width: 282px;
    margin: 0 19px 0 19px;
  }
}